.tan{
    margin: 1em;
    width: 300px;
    height: 200px;
    float: left;
}
.outline {
    border-radius: 1em;

    background-color: grey;

    outline: 2px dashed white;
    outline-offset: -30px;
}
.border{
    border-radius: 1em;

    background-color: grey;

    box-shadow: 0 0 0 .6em dodgerblue;
    outline: 1em solid dodgerblue;
}
.linear{
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 30px;
}
.linear2{
    background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
    background-size: 100% 45px;
}
.linear3{
    background: linear-gradient(to right, #fb3 50%, #58a 50%);
    background-size: 45px 100%;
}
.linear4{
    background: linear-gradient(45deg, #fb3 50%, #58a 50%);
    background-size: 30px 30px;
}
.linear5{
    background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);
    background-size: 30px 30px;
}
.linear6{
    background: repeating-linear-gradient(60deg, #fb3 0, #fb3 15px, #58a 0, #58a 30px)
}
.linear7{
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0),
    linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 30px 30px;    
}
.linear8{
    background-color: #58a;
    background-image: linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0, 0%, 100%, .3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0);
    background-size: 75px 75px, 75px 75px,
    15px 15px, 15px 15px;    
}
.linear9{
    background: linear-gradient(45deg, #d54040 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #d54040 0),
    linear-gradient(45deg, #d54040 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #d54040 0);
    background-position: 0 0, 15px 15px,
    15px 15px, 30px 30px;
    background-size: 30px 30px;
}
.radial{
    background-color: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
    radial-gradient(tan 30%, #655 35%, transparent 0); /* 30%前景色-35%背景色防止锯齿化 */
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
.linear-border{
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(
        -45deg, red 0, red 1em,
        transparent 0, transparent 2em,
        #58a 0, #58a 3em,
        transparent 0, transparent 4em        
    );
}
@keyframes ants {
    to { background-position: 100% }
}
.linear-border2{
    border: 1px solid transparent;
    background: linear-gradient( white, white ) padding-box,
    repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 10px 10px; /* linear白色遮挡 */
    animation: ants 12s linear infinite;
}